/* 改变主题色变量 */

$--color-primary: #409EFF;
/* 改变 icon 字体路径变量，必需 */

$--font-path: '~genie-ui/lib/theme-chalk/fonts';


/* 自定义icon引入 */

@font-face {
  font-family: 'custom-icons';
  /* project id 16416 */
  src: url('//at.alicdn.com/t/font_16416_lw6uu4b1y7i.eot');
  src: url('//at.alicdn.com/t/font_16416_lw6uu4b1y7i.eot?#iefix') format('embedded-opentype'), 
  url('//at.alicdn.com/t/font_16416_lw6uu4b1y7i.woff') format('woff'), 
  url('//at.alicdn.com/t/font_16416_lw6uu4b1y7i.ttf') format('truetype'), 
  url('//at.alicdn.com/t/font_16416_lw6uu4b1y7i.svg#iconfont') format('svg');
}

.custom-icon-key:before { content: "\e611" }

@import "~genie-ui/packages/theme-chalk/src/index";